.buttonb {
  display: flex;
  background-color: #f1cdb3;
  border-radius: 100px;
  color: #292929;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  justify-content: center;
  align-items: center;
}

.buttonb:hover {
  background-color: #fddcc4;
}

.buttonw {
  display: flex;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  color: #292929;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  justify-content: center;
  align-items: center;
}

.button_circle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
}

.button_circle:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.button_circle_nav {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 20px;
}

// .button_circle_disabled {
//   border: 2px solid #cdcdcd;
//   color: #cdcdcd;
//   cursor: default;
// }

// .button_circle_disabled:hover {
//   border: 2px solid #cdcdcd;
//   color: #cdcdcd;
//   background-color: transparent;
// }
