@import "variables";
@import "elements";
@import "./utils/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  // transition: all 1s;
}

html {
}
body {
  display: flex;

  min-width: 1280px;
  max-width: 100%;
  flex-direction: column;
  @include media-tablet {
    min-width: $tablet-width;
    overflow-x: hidden;
  }
  @include media-mobile {
    min-width: $mobile-width;
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

.start_screen {
  //min-width: 100%;
  //height: 908px;

  width: 100%;
  display: flex;
  justify-content: center;

  // background-size: cover;
  background: $back_gradient;
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

  .content {
    //width: 1280px;
    max-width: 1280px;
    padding: 0 40px;

    display: grid;
    grid-template-rows: 180px auto;
    grid-template-columns: 502px 1fr;
    grid-template-areas:
      "header header"
      "main_text dog";

    @include media-tablet {
      padding: 0 30px;
      grid-template-rows: 120px 352px auto;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main_text"
        "dog";
    }

    @include media-mobile {
      padding: 0 10px;
      grid-template-rows: 120px 326px auto;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main_text"
        "dog";
    }

    #header {
      display: flex;
      grid-area: header;
      padding: 60px 0;
      position: relative;
      align-items: center;

      @include media-tablet {
        padding: 0;
      }

      @include media-mobile {
        padding: 0 10px;
        width: 100vw;
        justify-content: space-between;
        //width: fit-content;
        //  justify-content: center;
        //flex-wrap: wrap;
      }

      .logo {
        position: absolute;
        left: 0;
        width: 184px;
        display: flex;
        flex-direction: column;

        @include media-mobile {
          position: static;
        }

        h1 {
          color: $font_color1;
          font-family: $font_georgia;
          font-weight: 400;
          font-size: 32px;
          line-height: 110%;
          letter-spacing: 0.05em;
          margin: 0 0 10px 0;
          padding: 0;
          width: 100%;
        }
        .pp {
          font-family: $font_arial;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.1em;
          color: white;
          margin: 10 0 0 0;
          padding: 0;
          width: 100%;
        }
      }

      .navmenu {
        position: absolute;
        right: 0;
        width: 441px;
        align-items: center;

        @include media-mobile {
          position: static;
          width: 0px;
          overflow: hidden;
          //  display: none;
        }

        ul {
          list-style: none;
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          gap: 35px;

          li {
            //width: 25%;
          }
        }
      }

      .navlink {
        white-space: nowrap;
        font-family: $font_arial;
        font-size: 15px;
        line-height: 160%;
        width: 100%;
        text-align: center;
        height: 100%;
        color: $link_color;
        border-bottom: 3px solid transparent;
        padding-bottom: 3px;
      }

      .first {
        border-bottom: 3px solid $font_color1;
        color: white;
      }

      .navlink:hover {
        color: white;
      }

      .navlink:active {
        color: white;
        border-bottom: 3px solid $font_color1;
      }
      // .navlink:after {
      //   content: "";
      //   display: block;
      //   width: 100%;
      //   height: 3px;
      //   background-color: transparent;
      //   margin-top: 3px;
      // }

      // .navlink:hover:after {
      //   background-color: $font_color1;
      // }
    }

    .burger {
      width: 30px;
      margin-right: 43px;

      .burger_line {
        width: 30px;
        height: 2px;
        background-color: $font_color1;
      }

      .burger_line + .burger_line {
        margin-top: 9px;
      }
    }

    #dog {
      grid-area: dog;

      @include media-tablet {
        display: flex;
        padding: 100px 0 0 0;
        //align-items: center;
        justify-content: center;
      }

      @include media-mobile {
        display: flex;
        padding: 100px 0 0 0;
        justify-content: center;
      }

      .dog_image {
        display: block;
        @include media-tablet {
          // display: block;
          max-width: 80.3%;
          margin-right: -20%;
        }

        @include media-mobile {
          max-width: 80.3%;
          margin-right: -20%;
        }
      }
    }

    #main_text {
      grid-area: main_text;
      //     align-self: center;
      margin-right: 42px;
      margin-top: 163px;

      @include media-tablet {
        margin-right: 0;
        margin-top: 30px;
        padding: 0 12.4rem;
        align-items: center;
        justify-content: center;
      }

      h2 {
        width: 310px;
        height: 114px;

        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;

        display: flex;
        align-items: center;

        color: #ffffff;
      }

      p {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        /* or 24px */

        display: flex;
        align-items: center;

        /* color-dark-s */

        color: #cdcdcd;
        margin: 42px 0;
      }
      .buttonb1 {
        width: 207px;
        height: 52px;
      }
      .button_link {
        @include media-tablet {
          display: block;
          margin: 0 auto;
          width: 207px;
          height: 52px;
        }
      }
    }
  }
}

.about {
  width: 100%;
  //  height: 588px;
  display: flex;
  justify-content: center;
  background: white;

  .content {
    max-width: 1280px;
    display: flex;
    height: 100%;
    padding: 80px 215px 100px 40px;
    align-items: center;

    @include media-tablet {
      flex-direction: column-reverse;
      padding: 80px 10% 100px 10%;
      gap: 80px;
      //justify-content: center;
    }

    .picture_about {
      height: 100%;
      margin: 0 120px 0 175px;
      font-size: 0;
      @include media-tablet {
        margin: 0;
      }
    }

    .text_about {
      width: 430px;
      height: 380px;
      //margin-right: 175px;
      //  padding-right: 175px;

      h3 {
        top: 0;
        left: 0;
        width: 370px;
        height: 90px;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
      }

      p {
        margin: 25px 0 0 0;
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #4c4c4c;
      }
    }
  }
}

.pets {
  width: 100%;
  height: 877px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;

  .content {
    max-width: 1280px;
    display: flex;
    height: 100%;
    padding: 80px 40px 100px 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include media-tablet {
      padding: 80px 0 100px 0;
      width: 768px;
    }

    h3 {
      width: 400px;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
    }

    .slider {
      height: 435px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      position: relative;
      margin: 60px 0;
      gap: 53px;

      @include media-tablet {
        justify-content: center;
        gap: 1.5%;
        //        gap: 3%;
      }

      .left-button {
      }

      .cards {
        // margin: 0 105px;
        // width: 1000px;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        gap: 90px;
        margin: 0 auto;

        @include media-tablet {
          gap: 0;
          justify-content: space-between;
          width: 75.5%;
          margin: 0;
        }
        // position: relative;

        .pet {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          width: 270px;
          height: 435px;
          background-color: #fafafa;
          border-radius: 9px;
          cursor: pointer;

          .img_pet {
            align-self: center;
            width: 100%;
            height: 270px;
            box-sizing: content-box;
          }

          .name {
            font-family: "Georgia";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            display: inline-flex;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 30px;
          }

          .buttonw1 {
            width: 187px;
            height: 52px;
            align-self: center;
            margin: 0 auto;
          }
        }

        .pet:hover {
          background-color: #ffffff;
          .buttonw1 {
            background-color: #fddcc4;
            border: 2px solid #fff;
          }
        }
      }

      .right-button {
      }
    }

    .buttonb2 {
      height: 52px;
      width: 261px;
    }
  }
}

.help {
  width: 100%;
  //height: 611px;
  display: flex;
  justify-content: center;
  background: #fff;

  .content {
    display: flex;
    max-width: 1280px;
    height: 100%;
    padding: 80px 40px 44px 40px;
    align-items: center;
    flex-direction: column;

    @include media-tablet {
      padding: 80px 13px 44px 13px;
    }

    h3 {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
    }

    .helps {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0 27px;
      flex-wrap: wrap;
      justify-content: center;

      .icon_help + .icon_help {
        margin-left: 120px;
        margin-top: 0;

        @include media-tablet {
          margin-left: 0;
        }
      }

      .icon_help {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media-tablet {
          width: 33.3%;
        }

        //  height: 113px;

        .text_help {
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #545454;
          margin-top: 30px;
          margin-bottom: 55px;
        }
      }

      .icon_help:last-child {
        margin-right: 120px;
        @include media-tablet {
          margin-right: 0;
        }
      }
    }
  }
}

.addition {
  width: 100%;
  //  height: 462px;
  display: flex;
  justify-content: center;
  background: #f6f6f6;

  .content {
    display: flex;
    max-width: 1280px;
    height: 100%;
    padding: 80px 182px 99px 183px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    @include media-tablet {
      flex-direction: column-reverse;
      padding: 80px 182px 97px 183px;
    }

    .donation_dog {
      display: block;
    }

    .donation {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include media-tablet {
        margin-left: 0;
        margin-bottom: 60px;
      }

      h3 {
        width: 300px;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 20px;
      }

      h5 {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 20px;
      }

      .account {
        width: 349px;
        height: 43px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        background: #f1cdb3;
        border-radius: 9px;
        align-items: center;
        justify-content: center;
        h4 {
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #545454;
          margin-left: 15px;
        }
      }

      .account:hover {
        background-color: #fddcc4;
      }

      p {
        font-family: "Arial";
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #b2b2b2;
        width: 380px;
      }
    }
  }
}

@import "./layout/footer";
