@import "variables";
@import "elements";
@import "./utils/mixins";
@import "./layout/modal";
@import "./layout/burger_pets";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  // transition: all 1s;
}

html {
}
body {
  display: flex;

  min-width: 1280px;
  max-width: 100%;
  flex-direction: column;
  overflow-x: hidden;
  @include media-tablet {
    min-width: $tablet-width;
    overflow-x: hidden;
  }
  @include media-mobile {
    min-width: $mobile-width;
    overflow-x: hidden;
  }
}

// .content {
//   width: 1200px;
//   margin: 0 auto;
// }

a {
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 0;
  //  height: 120px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  position: fixed;
  z-index: 700;

  .content {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    // grid-area: header;
    padding: 30px 40px;
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //gap: 575px;

    .logo + .navmenu {
      margin-left: 575px;

      @include media-tablet {
        margin-left: 0;
      }
    }

    @include media-tablet {
      padding: 30px;
    }

    @include media-mobile {
      padding: 30px 10px 30px 3.5%;
      width: 100vw;
      justify-content: space-between;
    }

    .logo {
      // position: absolute;
      // left: 0;
      width: 184px;
      display: flex;
      flex-direction: column;
      white-space: nowrap;

      h1 {
        color: #545454;
        font-family: $font_georgia;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.05em;
        margin: 0 0 10px 0;
        padding: 0;
        width: 100%;
      }
      .pp {
        font-family: $font_arial;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #545454;
        margin: 10 0 0 0;
        padding: 0;
        width: 100%;
      }
    }

    .navmenu {
      // position: absolute;
      // right: 0;
      width: 441px;
      align-items: center;

      @include media-mobile {
        position: static;
        width: 0px;
        overflow: hidden;
        //  display: none;
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 35px;

        li {
          //width: 25%;
        }
      }
    }

    .navlink {
      white-space: nowrap;
      font-family: $font_arial;
      font-size: 15px;
      line-height: 160%;
      width: 100%;
      text-align: center;
      height: 100%;
      color: #545454;
      border-bottom: 3px solid transparent;
      padding-bottom: 3px;
    }

    .first {
      border-bottom: 3px solid $font_color1;
      color: #292929;
    }

    .navlink:hover {
      color: #292929;
    }

    .navlink:active {
      color: #292929;
      border-bottom: 3px solid $font_color1;
    }

    // .burger {
    //   position: absolute;
    //   right: 53px;
    //   //      width: 0;
    //   z-index: 2100;
    //   transition: 2s;

    //   @include media-mobile {
    //     cursor: pointer;
    //     //       margin-right: 43px;
    //   }

    //   .burger_line {
    //     width: 30px;
    //     height: 2px;
    //     background-color: transparent;

    //     @include media-mobile {
    //       background-color: #000;
    //     }
    //   }

    //   .burger_line + .burger_line {
    //     margin-top: 9px;
    //   }
    // }
  }
}

.pets {
  width: 100%;
  //  height: 1462px;
  display: flex;
  justify-content: center;
  background: #f6f6f6;

  .content {
    display: flex;
    height: 100%;
    max-width: 1280px;
    padding: 200px 40px 100px 40px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @include media-tablet {
      padding: 200px 30px 70px 30px;
      margin-bottom: 5px;
    }

    @include media-mobile {
      padding: 160px 10px 42px 10px;
    }

    h3 {
      width: 400px;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
      margin: 0 0 60px 0;

      @include media-tablet {
        margin: 0 0 30px 0;
      }
      @include media-mobile {
        width: 300px;
        margin: 0 0 45px 0;
        font-size: 25px;
      }
    }

    .cards {
      //height: 930px;
      display: grid;
      grid-template-rows: 435px 435px;
      grid-template-columns: 270px 270px 270px 270px;
      grid-column-gap: 40px;
      grid-row-gap: 30px;
      margin-bottom: 60px;

      @include media-tablet {
        height: 1365px;
        grid-template-rows: 435px 435px 435px;
        grid-template-columns: 270px 270px;
        grid-column-gap: 40px;
        grid-row-gap: 30px;
        overflow: hidden;
        margin-bottom: 40px;
      }

      @include media-mobile {
        height: 1365px;
        grid-template-rows: 435px 435px 435px;
        grid-template-columns: 270px;
        grid-row-gap: 30px;
        overflow: hidden;
        margin-bottom: 40px;
      }

      .pet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        width: 270px;
        height: 435px;
        background-color: #fafafa;
        border-radius: 9px;
        cursor: pointer;

        .img_pet {
          align-self: center;
          width: 100%;
          height: 270px;
          box-sizing: content-box;
        }

        .name {
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          display: inline-flex;
          letter-spacing: 0.06em;
          color: #545454;
          margin: 30px;
        }

        .buttonw1 {
          width: 187px;
          height: 52px;
          align-self: center;
          margin: 0 auto;
        }
      }

      .pet:hover {
        background-color: #ffffff;
        .buttonw1 {
          background-color: #fddcc4;
          border: 2px solid #fff;
        }
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      text-align: center;

      @include media-mobile {
        gap: 10px;
      }
    }
  }
}

@import "./layout/footer";

.test {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 3000;
  top: 49px;
  right: 53px;
  background-color: transparent;
  transition: 2s;

  @include media-mobile {
    cursor: pointer;
  }

  .test_line {
    width: 30px;
    height: 2px;
    background-color: transparent;

    @include media-mobile {
      background-color: #000;
    }
  }

  .test_line + .test_line {
    margin-top: 9px;
  }
}

// .footer {
//   width: 100%;
//   height: 350px;
//   display: flex;
//   justify-content: center;
//   background: $back_gradient;
//   background: url(../../assets/images/noise_transparent@2x.png),
//     radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

//   .content {
//     display: flex;
//     width: 1280px;
//     height: 100%;
//     padding: 40px 40px 0 40px;
//     flex-direction: row;

//     .question {
//       width: 280px;
//       margin-top: 16px;
//       .address + .address {
//         margin-top: 40px;
//       }
//       h3 + .address {
//         margin-top: 40px;
//       }
//     }

//     .visit {
//       width: 302px;
//       margin-top: 16px;
//       .address + .address {
//         margin-top: 34px;
//       }
//       h3 + .address {
//         margin-top: 32px;
//       }
//     }

//     .pict_footer {
//       width: 300px;
//       height: 310px;
//     }

//     h3 {
//       font-family: "Georgia";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 35px;
//       line-height: 130%;
//       letter-spacing: 0.06em;
//       color: #ffffff;
//     }

//     .address {
//       .div_link {
//         display: flex;
//         flex-direction: row;
//         align-items: center;

//         h4 {
//           margin-left: 20px;
//           color: #f1cdb3;
//           font-family: "Georgia";
//           font-style: normal;
//           font-weight: 400;
//           font-size: 20px;
//           line-height: 115%;
//           letter-spacing: 0.06em;
//         }
//       }
//     }

//     .question + .visit {
//       margin-left: 160px;
//     }
//     .visit + .pict_footer {
//       margin-left: 160px;
//     }
//   }
// }
