$back_gradient: linear-gradient(110deg, #5b483a, #211f20);
$font_color1: #f1cdb3;
$font_georgia: Georgia, serif;
$font_arial: Arial, sans-serif;
$link_color: #cdcdcd;
$link_active_color: #fafafa;

$laptop-width: 1279px;
$tablet-width: 768px;
$mobile-width: 320px;
