.content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.plate-card {
    display: flex;
    flex-direction: column;
    transition: opacity 2s;
    opacity: 0.5;
}

.glass {
    opacity: 0;
    transition: opacity 0.5s;
    background-color: white;
    color: #424242;
}

.plate-card__image {
    height: 13rem;
    width: 13rem;
    background-size: contain;
    z-index: 5;
    &:hover {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    }
    &:hover .glass {
        opacity: 0.6;
    }
}

.plate-card__title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.plate-card__text {
    font-size: 0.9rem;
    text-align: center;
    word-wrap: break-word;
    width: 11rem;
}

.card .card-content {
    padding: 1rem;
}

.buy-wrap {
    font-size: 0.9rem;
    word-wrap: break-word;
    width: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    .buy-wrap__minus,
    .buy-wrap__plus {
        background-color: white;
        cursor: pointer;
        border-radius: 1px;
        transition: 0.2s;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            background-color: #e0f2f1;
        }
    }
    .buy-wrap__in-cart {
        padding: 0 0.1rem;
    }
}

.disabled {
    color: #bdbdbd;
    cursor: auto;
    pointer-events: none;
}

.no-empty {
    background-color: #00695c;
    color: white;
    border-radius: 3px;
}

.no-empty_quant {
    color: #00695c;
    font-weight: bold;
}