.cart-window {
    background-color: white;
    border: 0.3rem solid #00796b;
    border-radius: 5px;
    padding: 2rem 0.8rem;
    position: absolute;
    top: 0;
    right: -40rem;
    width: 40rem;
    height: 60vh;
    transition: 0.5s;
}