.filters {
    display: flex;
    flex-direction: column;
    font-family: "Circe", sans-serif;
    font-weight: 300;
    color: #616161;
    margin-top: 3.8rem;
    width: 100%;
    padding-left: 1rem;
    .filters__title {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }
    .filters__content {
        height: 21vh;
        overflow: auto;
        padding: 0.3rem 0.5rem;
        background-color: white;
        margin-bottom: 1rem;
        width: 100%;
    }
    .filters__content_popularity,
    .filters__content_type {
        background-color: white;
        width: fit-content;
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
    }
    .filters__content_type {
        margin-bottom: 1rem;
    }
    .filters__content_color {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filters__slider {
        width: 100%;
    }
    .filters__title_slider {
        margin-bottom: 0.3rem;
    }
}

.filter-content {
    width: 90%;
    font-size: 0.9rem;
    line-height: 1.4rem;
    transition: 0.3s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        color: black;
        padding-left: 0.4rem;
    }
}

.filter-content_color {
    font-size: 0.9rem;
    font-weight: 500;
    width: 4.3rem;
    height: fit-content;
    min-width: fit-content;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        color: black;
    }
}


/*------------- slider -----------------*/

.noUi-horizontal {
    height: 10px;
    border: solid 1px #00695c;
}

.noUi-touch-area {
    height: 1rem;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    right: -17px;
    top: -6px;
    background-color: #e0f2f1;
    border-color: #00695c;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.noUi-connect {
    background: #d7ccc8;
}

.noUi-tooltip {
    padding: 2px;
    color: #00695c;
    font-size: 0.8rem;
}

.noUi-handle:before {
    opacity: 0;
}

.noUi-handle:after {
    opacity: 0;
}

.slider-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0;
    width: 93%;
    gap: 1.2rem;
}

.reset-button {
    width: fit-content;
    margin: 1rem auto 0 auto;
    display: flex;
    height: 2.3rem;
    align-items: center;
}

@media (max-width: 769px) {
    .filters {
        margin-top: 0;
    }
}

@media (max-width: 601px) {
    .filters {
        justify-content: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-top: 4.5rem;
    }
    .filter-content {
        &:hover {
            transform: scale(1);
        }
    }
}