//@import '../../node_modules/materialize-css/sass/components/variables';
.main {
    padding-top: 80px;
    //    background-color: aqua;
}

.filtres {
    display: flex;
    height: 1200px;
    padding-top: 200px;
}