.message-window {
    background-color: white;
    border: 0.3rem solid #00796b;
    border-radius: 5px;
    padding: 2rem 0.8rem;
    transform: scale(0);
    transition: 0.5s;
}

.message-window__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    color: #004d40;
    text-align: center;
}