.search-and-sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
}

.search {
    padding: 0 0.5rem;
    width: 40%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 0;
    .search__input {
        font-size: 0.9rem;
        height: 2rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
}

.search__close {
    cursor: pointer;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}

.sort__select {
    margin-top: 0;
    font-size: 1rem;
    width: 20rem;
}