.search-and-sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 1rem;
    padding: 0.7rem 0 1rem 0;
    width: 90%;
}

.search {
    padding: 0 0.5rem;
    width: 40%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem;
    height: 2.3rem;
    .search__input {
        height: 1.6rem;
        font-size: 0.9rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
}

.search__close {
    cursor: pointer;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}

.search__input:focus~.search__close {
    opacity: 1;
}

.sort {
    width: 20%;
    margin-top: 0;
}

.sort__select {
    height: 2.3rem;
    margin-top: 0;
    font-size: 0.9rem;
    color: #00695c;
    font-weight: 500;
}

.clear-button {
    margin-right: 3%;
}