.search-and-sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5%;
    width: 90%;
}

.search {
    padding: 0 0.5rem;
    width: 40%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem;
    height: 2.3rem;
    .search__input {
        height: 1.6rem;
        font-size: 0.9rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
}

.search__close {
    cursor: pointer;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}

.search__input:focus~.search__close {
    opacity: 1;
}

.sort {
    width: 20%;
    margin-top: 0;
}

.sort__select {
    height: 2.3rem;
    margin-top: 0;
    font-size: 0.9rem;
    color: #00695c;
    font-weight: 500;
}

.clear-button {
    display: flex;
    height: 2.3rem;
    align-items: center;
}

@media (max-width: 601px) {
    .search-and-sort {
     flex-wrap: wrap;
     justify-content: center;
     padding-right: 0;
     margin: 0 auto;
    }
    .sort {
        width: 45%;
    }
    .search {
        padding: 0;
        width: 45%;
        margin-bottom: 0;
}
}